# Exercises

## 1. Software Carpentry

1) Write a command-line program that does addition or subtraction or multiply. By default it sums up the two values. Check  `ArgumentParser.add_mutually_exclusive_group()` functionality.

    `python arith.py -a 1 2 / python arith.py --add 1 2`

    `> 3`

    `python arith.py -s 3 4 / python arith.py --subtraction 3 4`

    `> -1`

    `python arith.py -m 2 4 /  python arith.py --multiply 2 4`

    `> 8`

2) Write a function called `average` that calculates the average of the numbers in a list. What pre-conditions and post-conditions would you write for it?

## 2. Numpy

1) In the following table we have expression values for 5 genes at 4 time points.

In [15]:
from IPython.lib import display as dp
!cat 'genes.csv' 
dp.FileLink('genes.csv')

Gene name,4h,12h,24h,48h
A2M,0.12,0.08,0.06,0.02
FOS,0.01,0.07,0.11,0.09
BRCA2,0.03,0.04,0.04,0.02
CPOX,0.05,0.09,0.11,0.14

/home/edu2/PostGrau/Postgrau/04_DataScienceToolbox/DataScience-Exercices/genes.csv

   - Create a single array for the data (4x4)
   - Find the mean value per gene
   - Find the mean value per time point
   - Which gene has the maximum mean expression value? (return the whole gene row)

In [26]:
#Your Code here
import numpy as np
fin=open('genes.csv','r')
lines=fin.readlines()
columns=lines[0].split(',')
rows = []
i=0
data=np.zeros((3,3),float)
for l in lines[1:4]:
    ls=l.split(',')
    rows.append(ls[0])
    for j in range(1,4):
        data[i-1,j-1]=float(ls[j])
    i+=1
print ('Mean values Time ',data.mean(axis=1))
print ('Mean values Gene ',data.mean(axis=0))

Mean values Time  [0.06333333 0.03666667 0.08666667]
Mean values Gene  [0.05333333 0.06333333 0.07      ]

## 3. Pandas

**MovieLens database**

1- Filter films that have received at least 250 ratings:

In [83]:
import pandas as pd

users_data =  '../ml-1m/users.dat'
ratings_data = '../ml-1m/ratings.dat'
movies_data =  '../ml-1m/movies.dat'


unames = ['user_id', 'gender', 'age', 'occupation', 'zip']
users = pd.read_csv(users_data, sep='::', header=None, names=unames, engine='python')
rnames = ['user_id', 'movie_id', 'rating', 'timestamp']
ratings = pd.read_csv(ratings_data, sep='::', header=None, names=rnames,  engine='python')
mnames = ['movie_id', 'title', 'genres']
movies = pd.read_csv(movies_data, sep='::', header=None, names=mnames,  engine='python')

In [84]:
##### Presented pd functions:  ####
# pd.read_csv
# pd.pivot_table(filtered_data, values='Value', index=['GEO'],columns = ['TIME'])
# data = pd.merge(pd.merge(ratings, users), movies)
# football = pd.DataFrame(data,columns=['year','team','wins','draws','losses'])
# c = pd.Series([1956, 1967, 1989, 2000])
# rng = pd.date_range('1/1/2011', periods=72, freq='H')
# edu.shape
# type(edu)
# edu.head()
# edu.columns
# edu.index
# edu.values
# edu.loc
# edu.iloc
# edu.groupby

In [86]:
### Your Code HERE
import numpy as np
data = pd.merge(pd.merge(ratings, users), movies)
print (data.shape)
#data.dropna(how='any', axis=0, inplace=True)
print (data.columns)
print (data.shape)
titles = data["title"].value_counts()
np.where(titles==250)
print (titles[0:1215])

#data[data.isna()]
#print (data.isna)

(1000209, 10)
Index(['user_id', 'movie_id', 'rating', 'timestamp', 'gender', 'age',
       'occupation', 'zip', 'title', 'genres'],
      dtype='object')
(1000209, 10)
American Beauty (1999)                                            3428
Star Wars: Episode IV - A New Hope (1977)                         2991
Star Wars: Episode V - The Empire Strikes Back (1980)             2990
Star Wars: Episode VI - Return of the Jedi (1983)                 2883
Jurassic Park (1993)                                              2672
Saving Private Ryan (1998)                                        2653
Terminator 2: Judgment Day (1991)                                 2649
Matrix, The (1999)                                                2590
Back to the Future (1985)                                         2583
Silence of the Lambs, The (1991)                                  2578
Men in Black (1997)                                               2538
Raiders of the Lost Ark (1981)                                    2514
Fargo (1996)                                                      2513
Sixth Sense, The (1999)                                           2459
Braveheart (1995)                                                 2443
Shakespeare in Love (1998)                                        2369
Princess Bride, The (1987)                                        2318
Schindler's List (1993)                                           2304
L.A. Confidential (1997)                                          2288
Groundhog Day (1993)                                              2278
E.T. the Extra-Terrestrial (1982)                                 2269
Star Wars: Episode I - The Phantom Menace (1999)                  2250
Being John Malkovich (1999)                                       2241
Shawshank Redemption, The (1994)                                  2227
Godfather, The (1972)                                             2223
Forrest Gump (1994)                                               2194
Ghostbusters (1984)                                               2181
Pulp Fiction (1994)                                               2171
Terminator, The (1984)                                            2098
Toy Story (1995)                                                  2077
                                                                  ...
Running Scared (1986)                                              259
Cocoon: The Return (1988)                                          259
Cradle Will Rock, The (1999)                                       259
Casper (1995)                                                      259
Misï¿½rables, Les (1998)                                             259
54 (1998)                                                          259
Parent Trap, The (1961)                                            258
7th Voyage of Sinbad, The (1958)                                   258
Red Rock West (1992)                                               258
Corrina, Corrina (1994)                                            257
Forget Paris (1995)                                                257
Diva (1981)                                                        257
Outsiders, The (1983)                                              256
Last Man Standing (1996)                                           256
Muppet Treasure Island (1996)                                      256
Last Temptation of Christ, The (1988)                              254
Disclosure (1994)                                                  254
Farewell My Concubine (1993)                                       254
Falcon and the Snowman, The (1984)                                 253
39 Steps, The (1935)                                               253
Bottle Rocket (1996)                                               253
Take the Money and Run (1969)                                      252
Bachelor, The (1999)                                               252
Man Who Knew Too Little, The (1997)                                252
Bicycle Thief, The (Ladri di biciclette) (1948)                    252
Top Hat (1935)                                                     251
Teenage Mutant Ninja Turtles II: The Secret of the Ooze (1991)     251
Wes Craven's New Nightmare (1994)                                  251
Presidio, The (1988)                                               251
U Turn (1997)                                                      250
Name: title, Length: 1215, dtype: int64

**Using the previous filtered films**:

2- Obtain the mean ratings for each movie grouped by gender

In [30]:
### Your Code HERE
Mdata=data[data["gender"]=='M']
Fdata=data[data["gender"]=='F']
#data["Frating"]=data["gender"]=='F'
#data["Mrating"].head()
#data["Frating"].head()
Mgroup=Mdata[["title","rating"]].groupby('title').mean()
Fgroup=Fdata[["title","rating"]].groupby('title').mean()

**Using the previous filtered films:**

3- Show the films most valued by women.

In [31]:
### Your Code HERE
#print (Mgroup.sort_values(by='rating', ascending= False).head(20))
print (Fgroup.sort_values(by='rating', ascending= False).head(30))

                                                      rating
title
Clean Slate (Coup de Torchon) (1981)                5.000000
Ballad of Narayama, The (Narayama Bushiko) (1958)   5.000000
Raw Deal (1948)                                     5.000000
Bittersweet Motel (2000)                            5.000000
Skipped Parts (2000)                                5.000000
Lamerica (1994)                                     5.000000
Gambler, The (A Jï¿½tï¿½kos) (1997)                     5.000000
Brother, Can You Spare a Dime? (1975)               5.000000
Ayn Rand: A Sense of Life (1997)                    5.000000
24 7: Twenty Four Seven (1997)                      5.000000
Twice Upon a Yesterday (1998)                       5.000000
Woman of Paris, A (1923)                            5.000000
I Am Cuba (Soy Cuba/Ya Kuba) (1964)                 5.000000
Gate of Heavenly Peace, The (1995)                  5.000000
For the Moment (1994)                               5.000000
Country Life (1994)                                 5.000000
Prisoner of the Mountains (Kavkazsky Plennik) (...  5.000000
Other Side of Sunday, The (Sï¿½ndagsengler) (1996)    5.000000
Saltmen of Tibet, The (1997)                        5.000000
Big Combo, The (1955)                               5.000000
One Little Indian (1973)                            5.000000
Message to Love: The Isle of Wight Festival (1996)  5.000000
Belly (1998)                                        5.000000
Song of Freedom (1936)                              5.000000
Coldblooded (1995)                                  5.000000
Battling Butler (1926)                              5.000000
Dancemaker (1998)                                   5.000000
World of Apu, The (Apur Sansar) (1959)              4.842105
Hearts and Minds (1996)                             4.833333
Apple, The (Sib) (1998)                             4.750000

**Using the previous filtered films:**

4- Now we wonder which movies are rated more differently between men and women. 
    * Which films have more different rating and are more highly valued by women? 
    * Andthe films preferred by men which doesn't liked women? 
    * What are the films that have generated the most discordant ratings, regardless of gender?

In [32]:
### Your Code HERE
# q. 4.1 Different rating
Fstdgroup=Fdata[["title","rating"]].groupby('title').std()
Fstdgroup.sort_values(by='rating', ascending= False).head(8)
# highly valued by women (same as q.3)

# q.4.2
MHR = Mgroup.sort_values(by='rating', ascending= False).head(11)
Mtitles = MHR.index
#print (Mtitles)
ltitles = [list(Fgroup.index).index(x) for x in Mtitles if x in Fgroup.index ]
print (Fgroup.iloc[ltitles])
# Answer Angela and Small Wonders

# q.4.3
stdgroup=data[["title","rating"]].groupby('title').std()
stdgroup.sort_values(by='rating', ascending= False).head(8)

                                      rating
title
Small Wonders (1996)                3.333333
Gate of Heavenly Peace, The (1995)  5.000000
Dangerous Game (1993)               4.000000
Angela (1995)                       3.000000
Bells, The (1926)                   4.000000

                                                      rating
title
Foreign Student (1994)                              2.828427
Criminal Lovers (Les Amants Criminels) (1999)       2.309401
Identification of a Woman (Identificazione di u...  2.121320
Tokyo Fist (1995)                                   2.121320
Better Living (1998)                                2.121320
Paralyzing Fear: The Story of Polio in America,...  2.121320
Eaten Alive (1976)                                  2.121320
Living Dead Girl, The (La Morte Vivante) (1982)     2.121320

5- Calculate the average rating of each user.

In [33]:
### Your Code HERE
data.columns
data[["rating","user_id","rating"]]
data[["user_id","rating"]].groupby('user_id').mean().head(10)

           rating
user_id
1        4.188679
2        3.713178
3        3.901961
4        4.190476
5        3.146465
6        3.901408
7        4.322581
8        3.884892
9        3.735849
10       4.114713

6- What is the highest rated movie in average that have received at least 250 ratings?

In [34]:
### Your Code HERE
data250 = data.loc[titles]
mean250=data250[["title","rating"]].groupby('title').mean()
mean250.sort_values(by='rating', ascending= False).head(1)

                                          rating
title
One Flew Over the Cuckoo's Nest (1975)  4.347624

7- Define a function called  <b>top_movies</b> that given an user and a number n, it returns the top n movies for this user.

In [35]:
### Your Code HERE
def top_movies(user,n):
    global data
    Udata=data[data["user_id"]==user]
    topUdata = Udata.sort_values(by='rating', ascending= False).head(n)
    return topUdata[["title","rating"]]
top_movies(20,10)

                             title  rating
243229    L.A. Confidential (1997)       5
257775         Out of Sight (1998)       5
76063             Gladiator (2000)       5
96100            Braveheart (1995)       5
140415          Matrix, The (1999)       5
163561   Fifth Element, The (1997)       5
334710         Patriot, The (2000)       5
238511        Seven (Se7en) (1995)       5
610825  From Dusk Till Dawn (1996)       4
577615          Superman II (1980)       4

**Data from CSV**

8- Read data from csv file: `ma-ba.csv`. Count the number of times `BarÃ§a` wins `Madrid` and compute the stadistics of % win, % lose and % draw.

In [125]:
### Your Code HERE
maba =  'ma-ba.csv'


unames = ['id', 'Date', 'Location', 'Match', 'Result','Competition']
data = pd.read_csv(maba, sep=',', header=None, names=unames, engine='python')

data.drop(data.index[0], inplace=True)
#data=data.replace('Madrid FC - Barcelona', 'R. Madrid - Barcelona')

data["Match"] = [name.replace('Barcelona - Madrid FC', 'Barcelona - R. Madrid') for name in data["Match"]]
data["Match"] = [name.replace('Madrid FC - Barcelona', 'R. Madrid - Barcelona') for name in data["Match"]]
data["Location"] = [name.strip() for name in data["Location"]]

#data["Location"]=='(Madrid)'
data["Location"][1]
mw=0
bw=0
draws=0
data["Result"] = data["Result"].str.split('-')

data.shape

(260, 6)

#### !!! Compare your results with the csv files located in results.zip !!!